#define NO_PASS_CHANGE "__*passwordDidNotChange*__"

#define WIFI_PASS ""
#define HOTSPOT_PASS "12345678"
#define MQTT_USER ""
#define MQTT_PASSWORD ""

#define MDNS_HOSTNAME "ws1"
#define WIFI_SSID ""
#define HOTSPOT_SSID "ws1"
#define MQTT_SERVER ""
#define MQTT_PORT 1883
#define MQTT_MESSAGEROOT "WeatherStations/ws1"
#define SUGGESTED_AREA  ""

#define LOOP_TIME 100 //in ms (for looped program)
#define REFRESH_TIME 30 //in s (for sensors)

#define LOWPOWERMODE_TOGGLE false
#define AHT2X_TOGGLE false
#define BMP280_TOGGLE false
#define ENS160_TOGGLE false
#define PM1006K_TOGGLE false
#define PMSX003_TOGGLE false
#define SCD4X_TOGGLE false
#define SGP30_TOGGLE false
#define SHT31_TOGGLE false
#define SPS30_TOGGLE false