#define NO_PASS_CHANGE "__*passwordDidNotChange*__"

#define HOTSPOT_PIN 3
#define RESET_CONFIG_PIN 2

#define MAX_LOG_LINES 100

std::deque<String> logQueue;
#define WIFI_SSID ""
#define WIFI_PASS ""
#define MQTT_SERVER ""
#define MQTT_PORT 1883
#define MQTT_USER ""
#define MQTT_PASSWORD ""
#define MQTT_MESSAGEROOT "WeatherStations/ws1"
#define MDNS_HOSTNAME "ws1"
#define HOTSPOT_SSID "ws1"
#define HOTSPOT_PASS ""
#define SUGGESTED_AREA  ""

#define REFRESH_TIME 30
#define LOWPOWERMODE_TOGGLE false
#define AHT2X_TOGGLE false
#define BMP280_TOGGLE false
#define ENS160_TOGGLE false
#define PM1006K_TOGGLE false
#define PMSX003_TOGGLE false
#define SCD4X_TOGGLE false
#define SGP30_TOGGLE false
#define SHT31_TOGGLE false
#define SPS30_TOGGLE false