#define WIFI_SSID "";
#define WIFI_PASS "";
#define MQTT_SERVER "";
#define MQTT_PORT 1883;
#define MQTT_USER "";
#define MQTT_PASSWORD "";
#define MQTT_MESSAGEROOT "";
#define MDNS_HOSTNAME "";
#define HOTSPOT_SSID "";
#define HOTSPOT_PASS "";

#define LOWPOWERMODE_TOGGLE false;
#define AHT2X_TOGGLE false;
#define BMP280_TOGGLE false;
#define ENS160_TOGGLE false;
#define PM1006K_TOGGLE false;
#define PMSX003_TOGGLE false;
#define SCD4X_TOGGLE false;
#define SGP30_TOGGLE false;
#define SHT31_TOGGLE false;